@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

h1 ,h2 ,h3 ,h4 ,h5 ,h6 {
    font-family: 'Teko', sans-serif;
}
button,a{
    font-family: 'Teko', sans-serif;
}
p,span {
    font-family: 'Kanit', sans-serif;
}
.featured-subtitle {
    font-family: "Instrument Sans", sans-serif;
}
.clip-left {
  clip-path: polygon(100% 0, 0 0, 100% 100%);
}

.clip-right {
  clip-path: polygon(0 0, 100% 0, 100% 100%);
}
.brand-number {
    font-family: 'Teko', sans-serif;
}
